body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    width: 340px;
    height: 70px;
    background-color: #333;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


nav a {
    position: relative;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0 2px;
    padding: 0px 23px;
    z-index: 1;
}

nav span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(45deg, #194b4f, #33fffc);
    border-radius: 10px;
    transition: 0.5s;
}

nav a:nth-child(1):hover ~ span {
    left: 0px;
}

nav a:nth-child(2):hover ~ span {
    left: 120px;
}

nav a:nth-child(3):hover ~ span {
    left: 240px;
}
